{% extends "Base.html" %}

{% block head %}
<script src="static/GearClosetMain/checkIn.js"></script>
{%endblock%}

{% block modal %}{% endblock %}
{% include "modals/modals.html" %}
<!--so some how this loads a modal whatever that is and then that allows us to do pop up stuff-->

{% block cartIcon %}
{% endblock %}

{% block content %}
<div class="row">
    <table class="table table-hover" id="CheckoutTable">
        <thead>
            <th>Name</th>
            <th>Student ID</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Number of items Checked Out</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}