<div class="modal-header">
    <button type="button" class="close"  data-dismiss="modal" aria-label="Close" class="message-popup-close" >
        <span aria-hidden="true">&times;</span>
    </button>
     <h5 class="modal-title" >Create Client</h5>
</div>
<div class="modal-body" id="message-model-content">
    <form class="form-group" role="form" id="demo-form"  method="post" action="{{ url_for('InvMangment.getClientPopUp') }}">
        {% import "bootstrap/wtf.html" as wtf %}
        {{ wtf.quick_form(form) }}
    </form>
</div>


