<div class="modal-header">
    <button type="button" class="close"  data-dismiss="modal" aria-label="Close" class="message-popup-close" >
        <span aria-hidden="true">&times;</span>
    </button>
     <h5 class="modal-title" id="{{item.id}}">{{item.itemName}}</h5>
</div>
<div class="modal-body" id="message-model-content">
    <ul class="message-popup-list">
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 col-md-8"><strong>Quantity in Inventory</strong></div>
          <div class="col-6 col-md-4">{{item.quantityAvailable}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 col-md-8"><strong>Quantity checked out</strong></div>
          <div class="col-6 col-md-4">{{item.quantityOut}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 col-md-8"><strong>Price</strong></div>
          <div class="col-6 col-md-4">{{item.price}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 col-md-8"><strong>Category</strong></div>
          <div class="col-6 col-md-4">{{item.category}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 col-md-8"><strong>Requires Processing</strong></div>
          <div class="col-6 col-md-4">{{item.processing}}</div>
        </div>
    </ul>
</div>
 <div class="modal-footer">

        <form class="form-inline" role="form" id="demo-form"  method="post" action="{{ url_for('InvMangment.getItem', itemID = item.id) }}">
            {% import "bootstrap/wtf.html" as wtf %}
            {{ wtf.quick_form(form) }}
        </form>
 </div>
