<!--<div class="row no-gutters">-->
  <!--<div class="col-12 col-sm-6 col-md-8">.col-12 .col-sm-6 .col-md-8</div>-->
  <!--<div class="col-6 col-md-4">.col-6 .col-md-4</div>-->
<!--</div>-->


<div class="modal-header">
    <button type="button" class="close"  data-dismiss="modal" aria-label="Close" class="message-popup-close" >
        <span aria-hidden="true">&times;</span>
    </button>
     <h5 class="modal-title" id="{{item.id}}">{{item.itemName}}</h5>
</div>
<div class="modal-body" id="message-model-content">
    <ul class="message-popup-list">
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 col-md-8"><strong>Quantity in Inventory</strong></div>
          <div class="col-6 col-md-4">{{item.quantityAvailable}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 col-md-8"><strong>Quantity checked out</strong></div>
          <div class="col-6 col-md-4">{{item.quantityOut}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 col-md-8"><strong>Price</strong></div>
          <div class="col-6 col-md-4">{{item.price}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 col-md-8"><strong>Category</strong></div>
          <div class="col-6 col-md-4">{{item.category}}</div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 col-md-8"><strong>Requires Processing</strong></div>
          <div class="col-6 col-md-4">{{item.processing}}</div>
        </div>
    </ul>
</div>
 <div class="modal-footer">

        <form class="form-inline" role="form" id="demo-form"  method="post" action="{{ url_for('InvMangment.getItem', itemID = item.id) }}">
            {% import "bootstrap/wtf.html" as wtf %}
            {{ wtf.quick_form(form) }}
            <!--<label class="mr-sm-2" for="numSelected">Number to check out   </label>-->
            <!--<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="numSelected" data-parsley-required="true">-->
            <!--<option value="">Choose...</option>-->
            <!--{% for val in range(1,item.quantityAvailable +1)%}-->
            <!--<option value="{{val}}">{{val}}</option>-->
            <!--{% endfor %}-->
            <!--</select>-->
            <!--<input id="submit" type="submit" class="btn btn-default" value="add to cart">-->
            <!--&lt;!&ndash;{% import "bootstrap/wtf.html" as wtf %}&ndash;&gt;-->
            <!--&lt;!&ndash;{{ wtf.quick_form(form) }}&ndash;&gt;-->
        </form>
 </div>

<!--<script type="text/javascript">-->
<!--$(function () {-->
  <!--$('#demo-form').parsley().on('field:validated', function() {-->
    <!--var ok = $('.parsley-error').length === 0;-->
    <!--$('.bs-callout-info').toggleClass('hidden', !ok);-->
    <!--$('.bs-callout-warning').toggleClass('hidden', ok);-->
  <!--})-->
  <!--.on('form:submit', function() {-->
    <!--var numSelected =  $('#demo-form').serialize();-->
    <!--console.log(numSelected)-->
  <!--});-->
<!--});-->

<!--$(function() {-->
    <!--$('input#submit').click(function() {-->
<!--//        var numberSelected = $('#numSelected').val();-->
<!--//        var id = $('.modal-title').attr("id");-->
<!--//        var data = $('form#demo-form').serialize();-->
        <!--var data = {"NumberToCheckout": $('#numSelected').val(), "id" : $('.modal-title').attr("id")}-->
        <!--console.log(data);-->
<!--//        console.log(numberSelected);-->
<!--//        console.log(id);-->
<!--//        $.get('/api/addToCart',-->
<!--//            {-->
<!--//                NumberToCheckout : $('#numSelected').val(),-->
<!--//                id : $('.modal-title').attr("id")-->
<!--//            })-->

        <!--$.ajax({-->
            <!--url: '/api/addToCart',-->
            <!--contentType: "application/json;charset=UTF-8",-->
            <!--data: data,-->
            <!--type: 'POST',-->
            <!--success: function(response) {-->
                <!--console.log(response);-->
            <!--},-->
            <!--error: function(error) {-->
                <!--console.log(error);-->
            <!--}-->
        <!--});-->
    <!--});-->
<!--});-->
<!--//$('a#calculate').bind('click', function() {-->
<!--//      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {-->
<!--//        a: $('input[name="a"]').val(),-->
<!--//        b: $('input[name="b"]').val()-->
<!--//      }, function(data) {-->
<!--//        $("#result").text(data.result);-->
<!--//      });-->
<!--//      return false;-->
<!--//    });-->
<!--//  });-->
<!--</script>-->